<template>
  <svg class="search__svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19 19">
    <path class="search__path" d="M18.989,18.271 L18.277,18.982 L13.990,14.696 C12.504,16.015 10.555,16.824 8.416,16.824 C3.777,16.824 0.003,13.049 0.003,8.411 C0.003,3.771 3.777,-0.004 8.416,-0.004 C13.055,-0.004 16.830,3.771 16.830,8.411 C16.830,10.549 16.021,12.498 14.702,13.984 L18.989,18.271 ZM8.416,1.004 C4.332,1.004 1.010,4.326 1.010,8.411 C1.010,12.495 4.332,15.817 8.416,15.817 C12.501,15.817 15.823,12.495 15.823,8.411 C15.823,4.326 12.501,1.004 8.416,1.004 Z"
      fill="#3d3c3c" />
  </svg>
</template>