// USAGE:
// .generator(PROPERTY, VALUES, 'LABELS OR EMPTY', 'UNIT OR EMPTY', BREAKPOINTS OR EMPTY);
._p- {
  .generator(padding, 0 5 10 15 20 30, '', px);
}

._pl- {
  .generator(padding-left, 0 5 10 15 20 30, '', px);
}

._pr- {
  .generator(padding-right, 0 5 10 15 20 30, '', px);
}

._pt- {
  .generator(padding-top, 0 5 10 15 20 30, '', px);
}

._pb- {
  .generator(padding-top, 0 5 10 15 20 30, '', px);
}

._pv- {
  .generator(padding-top, 0 5 10 15 20 30, '', px);
  .generator(padding-bottom, 0 5 10 15 20 30, '', px);
}

._ph- {
  .generator(padding-left, 0 5 10 15 20 30, '', px);
  .generator(padding-right, 0 5 10 15 20 30, '', px);
}