<template>
  <transition name="gate">
    <div class="gate" v-if="gate">
      <div class="gate__container container">
        <div class="gate__logo" />
        <div class="gate__content" v-if="!rejected">
          <h1 v-text="ui.gate_heading" />
          <div class="gate__actions">
            <div class="gate__action btn" v-text="ui.gate_agree" @click="setGate(false)"
            />
            <div class="gate__action btn btn--inv" v-text="ui.gate_reject"
              @click="rejected=true" />
          </div>
        </div>
        <div class="gate__notification" v-else>
          <h3 v-text="ui.gate_reject_text" />
        </div>
        <div class="gate__footer" v-html="ui.gate_footer" />
      </div>
    </div>
  </transition>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'AppGate',
  data() {
    return {
      rejected: false
    }
  },
  computed: {
    ...mapGetters(['baseURL', 'ui', 'gate'])
  },
  methods: {
    ...mapActions(['setGate'])
  }
}
</script>
