<template>
  <div class="modal" v-if="activeModal">
    <div class="modal__dialog container">
      <i class="modal__close close" @click="closeModal" />
      <div class="modal__content">
      </div>
    </div>
    <i class="modal__backdrop" @click="closeModal" />
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'AppModal',
  props: ['data'],
  computed: {
    ...mapGetters(['activeModal', 'ui', 'gate'])
  },
  methods: {
    ...mapActions(['openModal', 'closeModal'])
  }
}
</script>
