.about {
  padding: 18rem 0 0;
  will-change: transform, opactiy;
  @media @tablet {
    padding: 15.5rem 0 0;
  }
  &__router {
    position: relative;
    &.simple {
      padding: 0;
    }
  }
  &__triggers {
    padding: 3.5rem 2rem;
    @media @tablet {
      display: none;
    }
  }
  &__trigger {}
  &__nav {
    font-size: 0;
    text-align: center;
    display: none;
    @media @tablet {
      display: block;
    }
  }
  &__nav-list {
    margin: 5.8rem 0;
  }
  &__nav-item {
    display: inline-block;
    position: relative;
    padding: 0 1%;
    &:before {
      content: "";
      position: absolute;
      left: 2.2rem;
      right: 2.2rem;
      bottom: -.1rem;
      height: 1px;
      background-color: #494747;
      opacity: 0;
      transform-origin: 50% 0%;
      transform: scale(0, 1) translate3d(0, 0, 0);
      transition: transform 220ms @easeOutQuad, opacity 220ms @easeOutQuad;
    }
    &.is-active {
      &:before {
        opacity: 1;
        transform: scale(1, 1) translate3d(0, -0.6rem, 0);
      }
    }
    .h &:hover {
      &:before {
        opacity: 0.6;
        transform: scale(0.8, 1) translate3d(0, -0.5rem, 0);
      }
      &.is-active {
        &:before {
          opacity: 1;
          transform: scale(1, 1) translate3d(0, -0.6rem, 0);
        }
      }
    }
  }
  &__nav-link {
    text-transform: uppercase;
    display: block;
    text-decoration: none;
    font-size: 1.4rem; // padding: 3.2rem 1rem;
    padding: 1rem;
    color: #494747;
  }
  &__main {
    position: relative;
  }
  &__article {
    padding: 1.4rem 0 0rem;
    @media @tablet {
      padding: 1.7rem 0;
    }
  }
  &__container {
    &--rich {
      max-width: 74.6rem;
    }
    &--list {
      max-width: 74.6rem;
    }
    &--brands {
      max-width: 74.6rem;
    }
    &--featured {
      // max-width: 107rem;
    }
    &--quote {
      max-width: 122rem;
    }
    &--slider {
      // overflow: hidden;
      // padding: 0 7.5rem;
      // max-width: 122rem;
    }
  }
  &__featured {
    margin-bottom: 4.1rem;
    @media @tablet {
      margin-bottom: 9.5rem;
    }
    &--small-left {
      @media @tablet {
        padding-right: 37.2%;
      }
    }
  }
  &__featured-image {
    display: inline-block;
    vertical-align: top;
    width: 100%;
  }
  &__title {
    max-width: 71rem;
    margin: 0 auto;
    text-align: left;
  }
  &__section {
    position: relative;
    &--grey {
      &:before {
        content: "";
        background-color: #f9f9f9;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: -35.4rem;
        z-index: -2;
      }
    }
  }
  &__rich {
    padding-bottom: 2.5rem; // @media @tablet {
    //   padding-bottom: 4.8rem;
    // }
  }
  &__images {
    font-size: 0;
    @media @tablet {
      padding: 0.6rem 0;
    }
  }
  &__media {
    width: 100%;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 2.5rem;
    @media @tablet {
      margin-bottom: 0;
    }
    &:nth-child(odd) {
      @media @tablet {
        width: 54.1%;
        padding-right: 8.2%;
      }
    }
    &:nth-child(even) {
      @media @tablet {
        width: 45.9%;
        padding-top: 13.2rem;
      }
    }
  }
  &__image {
    display: inline-block;
    vertical-align: top;
    width: 100%;
  }
  &__quote {
    text-align: center;
    position: relative;
    margin-bottom: 4.7rem;
    padding: 6.9rem 0rem 4.5rem;
    @media @tablet {
      margin-bottom: 8.4rem;
      padding: 12.5rem 20% 9.7rem;
    }
    &:before {
      content: "";
      background-color: inherit;
      position: absolute;
      bottom: 0;
      z-index: -1;
      left: -2rem;
      right: -2rem;
      top: -16.2rem;
      @media @tablet {
        left: 0;
        right: 0;
        top: -35.4rem;
      }
    }
    &:after {
      content: "";
      position: absolute;
      left: ~"calc(50% - 1.6rem)";
      width: 3.2rem;
      height: 2.7rem;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-image: url("../../img/icon--quote.svg");
      top: 2.3rem;
      @media @tablet {
        top: 6.3rem;
      }
    }
  }
  &__qoute-text {}
  &__images {}
  &__list {
    padding: 0.2rem 0;
    @media @tablet {
      padding: 2.3rem 0;
    }
    h2 {
      text-align: left;
    }
  }
  &__list-intro {
    padding: 0.1rem 0 0rem;
    @media @tablet {
      padding: 1.2rem 0 0rem;
    }
  }
  &__list-items {
    padding-bottom: 4.3rem;
  }
  &__list-item {
    padding: 0.6rem 0 0.6rem 3.2rem;
    color: #8c8279;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      width: 0.8rem;
      height: 0.8rem;
      background-color: #8c8279;
      top: 1.4rem;
      left: 0.3rem;
      transform: rotate(45deg);
    }
  }
  &__milestone {
    font-weight: 400;
    color: @white;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    padding: 34% 20% 4%;
    line-height: 1.5;
    margin-bottom: 4.5rem;
    font-size: 1.7rem;
    letter-spacing: 0.05em;
    p {
      margin: 0;
    }
    @media @tablet {
      letter-spacing: 0.1em;
      font-size: 3rem;
      padding: 1rem 25%;
      height: 52.2rem;
      margin-bottom: 5.4rem;
    }
  }
  &__slider {
    padding: 0 3rem 2.1rem;
    @media @tablet {
      padding: 2.8rem 0 4.1rem;
    }
  }
  &__brands {
    padding: 7.4rem 0;
  }
  &__qoute-text {
    p {
      margin: 0;
    }
  }
}