.beverage {
  &__slider {
    padding: 7.8rem 2rem 0;
    display: block;
    position: relative;
    z-index: 2;
    @media @tablet {
      display: flex;
      padding: 0;
      min-height: 100vh;
    }
    &:before {
      content: '';
      background-color: inherit;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 62rem;
    }
  }
  &__swiper {
    .swiper-container;
    margin: auto;
    overflow: visible;
    width: 100%;
    @media @tablet {
      width: 62.8%;
      min-width: 79.1rem;
    }
    .is-ie & {
      width: 50%;
      min-width: 50rem;
    }
  }
  &__wrapper {
    .swiper-wrapper;
    align-items: flex-start; // height: auto;
    height: 100%;
    @media @tablet {
      height: 100%;
      align-items: center;
    }
  }
  &__slide {
    .swiper-slide;
    backface-visibility: visible;
    position: relative; // height: auto;
    @media @tablet {
      min-height: 41.4rem;
      height: auto;
    }
    &.is-active,
    &.is-single {
      .beverage {
        &__card {
          opacity: 1;
        }
      }
    }
  }
  &__card {
    transition: opacity 600ms @easeOutQuad;
    opacity: 0;
    margin-bottom: -32.4rem;
    @media @tablet {
      min-height: inherit;
      opacity: 0;
      margin: 0 auto;
      max-width: 79.1rem;
      padding: 1.2rem 0;
    }
  }
  &__image {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
    backface-visibility: visible;
    height: 29rem;
    z-index: 2;
    margin: 2rem auto;
    opacity: 0;
    display: none;
    @media @tablet {
      position: absolute;
      margin: 0;
      height: auto;
      left: 38%;
      right: 38%;
      bottom: -10vh;
      top: -10vh;
    }
    &.is-visible {
      opacity: 1;
      display: block;
    }
  }
  &__nav {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 12%;
    z-index: 2;
    cursor: pointer;
    &.is-disabled {
      display: none;
    }
    @media @tablet {
      top: 0;
      bottom: 0;
      width: 12%;
    }
    &--prev {
      left: 0;
    }
    &--next {
      right: 0;
    }
  }
}