.career {
	padding-top: 18rem;
	padding-bottom: 4.8rem;
	@media @tablet {
		padding-top: 14.9rem;
	}
	&__article {
		margin: 0 auto;
		max-width: 66.8rem;
		padding: 5.4rem 0 2.4rem;
		@media @tablet {
			padding: 12.6rem 0 7.8rem;
		}
	}
	&__positions {
		background-color: #f9e6d5;
		padding: 0 2rem;
		@media @tablet {
			padding: 5.9rem 9.9%;
		}
	}
	&__position {
		display: block;
		border-bottom: solid 1px #e5d4c5;
		text-decoration: none;
		position: relative;
		padding: 2.7rem 0 1.4rem;
		&:last-child {
			border-bottom: none;
		}
		@media @tablet {
			padding: 4.3rem 0 2.2rem;
		}
		.h &:hover {
			.career {
				&__arrow {
					transform: translate3d(0.6rem, 0, 0);
				}
			}
		}
	}
	&__label {
		display: inline-block;
		font-weight: 600;
		color: #8c8279;
		padding-right: 1rem;
		@media @tablet {
			padding-right: 0;
		}
	}
	&__location {
		display: inline-block;
		color: #8c8279;
	}
	&__arrow {
		.arrow(3rem, 1rem, #494747, "right");
		display: block;
		position: absolute;
		transition: transform 200ms @easeOutQuad;
		right: -0.1rem;
		bottom: 1.6rem;
		@media @tablet {
		right: 0.2rem;
		bottom: 2.9rem;

		}
		&:before {
			top: 0.4rem;
		}
	}
}
