.category {
  padding: 12.5rem 0 1rem;
  @media @tablet {
    padding: 13rem 0 1rem;
  }
  &__container {}
  &__filters {
    text-align: center;
    display: none;
    position: relative;
    z-index: 2;
    @media @tablet {
      display: flex;
      justify-content: center;
    }
  }
  &__triggers {
    @media @tablet {
      display: none;
    }
  }
  &__filter {
    display: block; // flex: 1 1 20%;
  }
  &__search {
    position: relative;
    overflow: hidden;
    margin-top: 1.2rem;
    width: 100%;
    @media @tablet {
    width: 18%;
    margin: 1.4rem;

    }
  }
  &__beverages {
    display: flex;
    flex-wrap: wrap;
    margin: 1.8rem auto;
    position: relative;
    z-index: 1;
    @media @tablet {
      margin: 2.6rem auto;
    }
  }
  &__beverage {
    margin: 1.2rem 0;
    flex: 0 0 auto;
    width: 100%;
    @media @tablet {
      height: 46.8rem;
      margin: 1rem;
      width: ~"calc(33.33% - 2rem)";
    }
  }
  &__no-results {
    max-width: 72rem;
    text-align: center;
    margin: 14vh auto;
    h3 {
      line-height: 48/30;
    }
  }
}