.home {
	&__intro {
		background-color: #f9e6d5;
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		align-content: center;
		justify-content: center;
		text-align: center;
		position: relative;
		padding: 11.9rem 0 8rem;
		@media @tablet {
			padding: 9vh 0 0;
		}
	}
	&__favorites {
	}
}
