.post {
  overflow: hidden;
  padding: 9.5rem 0 3rem;
  @media @tablet {
    padding: 9.2rem 0 5rem;
  }
  &__container {
    max-width: 82rem;
  }
  &__top {
    text-align: center; // padding: 1rem 0;
  }
  &__back {
    display: inline-block;
    font-style: normal;
    font-size: 1rem;
    text-transform: uppercase;
    color: #464646;
    font-weight: 600;
    position: relative;
    cursor: pointer;
    transition: color 220ms @easeOutQuad;
    padding: 2rem 0;
    @media @tablet {
      padding: 4rem 0;
    }
    &:before {
      content: '';
      background-color: #494747;
      height: 1px;
      display: block;
      width: 3rem;
      position: absolute;
      top: 2.6rem;
      left: -4.5rem;
      transition: background-color 220ms @easeOutQuad, transform 220ms @easeOutQuad;
      @media @tablet {
        top: 4.8rem;
      }
    }
    &:after {
      content: '';
      width: 0.7rem;
      height: 0.7rem;
      display: block;
      position: absolute;
      left: -4.6rem;
      border-bottom: solid 1px #494747;
      border-left: solid 1px #494747;
      transform: rotate(45deg);
      transition: border-color 220ms @easeOutQuad, transform 220ms @easeOutQuad;
      top: 2.3rem;
      @media @tablet {
        top: 4.5rem;
      }
    }
    .h &:hover {
      color: @main;
      &:before {
        background-color: @main;
        transform: translate3d(-.6rem, 0, 0);
      }
      &:after {
        border-color: @main;
        transform: translate3d(-.4rem, 0, 0) rotate(45deg);
      }
    }
  }
  &__date {
    padding: 1.2rem 0;
    color: #9c9c9c;
    font-size: 1.4rem;
  }
  &__article {
    border-bottom: solid 1px #efefef;
    padding: 1.5rem 0 4.8rem;
  }
  &__files {
    padding: 2.2rem 0;
    @media @tablet {
      padding: 6.2rem 0;
      display: flex;
      flex-wrap: wrap;
      margin: 0 -1.5rem;
    }
  }
  &__file {
    height: 22.8rem;
    margin: 1.5rem;
    @media @tablet {
      flex: 0 1 33.33%;
    }
  }
}