.simple {
  overflow: hidden;
  padding: 12.5rem 0 3rem;
  @media @tablet {
    padding: 15.5rem 0 5rem;
  }
  &__container {}
  &__article {
    padding: 8.7rem 0;
    &--sub {
      padding: 0 0;
      @media @tablet {
        padding: 1.7rem 0;
      }
    }
    &--private-label {
      padding: 2.7rem 0;
      @media @tablet {
        padding: 4.7rem 0;
      }
    }
  }
  &__section {
    position: relative;
    padding: 3.9rem 0;
    &--excerpt {
      padding: 0 0 8rem;
      margin: -4rem 0 0;
      @media @tablet {
        max-width: 76.4rem;
        margin: 0 auto;
        padding: 0rem 0 3.2rem;
      }
    }
    &--private-label {
      padding: 0;
    }
  }
  &__rich {
    max-width: 70.3rem;
    margin: 0 auto;
    ul {
      list-style: disc;
      li {
        margin-left: 2rem;
      }
    }
  }
  &__image {
    vertical-align: top;
    display: inline-block;
    width: 100%;
  }
  &__return {
    display: inline-block;
    margin: 3.6rem auto 0rem;
  }
  &__date {
    font-size: 1.4rem;
    color: #9c9c9c;
  }
  &__subtitle {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 24/18;
    display: block;
    text-decoration: none;
    color: #494747;
    padding: 1.1rem 0;
    letter-spacing: 0.1em;
    transition: color 220ms @easeOutQuad;
    .h &:hover {
      color: @main;
    }
  }
  &__excerpt {
    font-size: 1.4rem;
    line-height: 18/14;
    letter-spacing: 0.1em;
  }
  &__more {
    font-size: 1rem;
    margin: 1.5rem 0;
    padding: 0.6rem 4.5rem 0.6rem 0;
    @media @tablet {
      padding: 0.6rem 4.5rem 0.6rem 0;
    }
  }
  &--notfound {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    padding: 12.5rem 0 0;
    @media @tablet {
      padding: 15.5rem 0 1.1rem;
    }
  }
}