.brands {
  &__title {
    padding: 4.4rem 0;
    h2 {
      text-align: left;
    }
  }
  &__grid {
    margin: 1rem -1.8rem;
    font-size: 0;
    display: flex;
    flex-wrap: wrap;
  }
  &__item {
    position: relative;
    width: 50%;
    padding: .5rem .6rem;
    @media only screen and (min-width: 376px) {
      padding: 1.8rem 1.9rem;
      width: 33.33%;
    }
    .h &:hover {
      .brands {
        &__media {
          border-color: #bbb;
        }
        &__image {
          filter: grayscale(0);
          opacity: 1;
        }
      }
    }
  }
  &__media {
    border: solid 1px #e5e5e5;
    transition: border-color 220ms @easeOutQuad;
    height: 13.8rem;
    padding: 2.5rem 2.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    @media @tablet {
      height: 21rem;
      padding: 5.2rem 4rem;
    }
  }
  &__image {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    filter: grayscale(1);
    opacity: .5;
    transition: filter 220ms @easeOutQuad, opacity 220ms @easeOutQuad;
  }
  &__link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}