.branch {
	&__rows {
		padding: 1.5rem 0 0.8rem;
		@media @tablet {
			padding: 1.1rem 0;
		}
	}
	&__row {
		font-size: 1.3rem;
		a {
			color: inherit;
			text-decoration: none;
		}
	}
	&__label {
	}
	&__link {
		&--phone {
		}
		&--email {
		}
	}
	&__comma {
		display: inline-block;
		position: relative;
		left: -0.5em;
	}
	&__text {
	}
}
