.card {
  text-align: center;
  padding: 3rem 0;
  position: relative;
  @media @tablet {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }
  h2 {
    text-transform: none;
    color: #202020;
    font-size: 2.6rem;
    @media @tablet {
      font-size: 2.8rem;
    }
  }
  &__category {
    font-weight: 400;
    text-align: center;
    letter-spacing: 0.1em;
    font-size: 1.8rem;
    line-height: 1.1;
    padding: 1rem 0;
    @media @tablet {
      font-size: 2.8rem;
    }
  }
  &__back {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    width: 5.2rem;
    height: 5.2rem;
    cursor: pointer;
    .x(5.2rem, 2.2rem, 0.1rem, #202020);
    display: none;
    z-index: 3;
    @media @tablet {
      display: block;
      // right: 8%;
    }
  }
  &__fields {
    padding: 1rem 2rem;
    position: relative;
    @media @tablet {
      width: 40%;
      padding: 0 2rem;
    }
    &--left {
      @media @tablet {
        margin-top: 1.8rem;
      }
    }
    &--right {
      &:before {
        content: "";
        position: absolute;
        top: 0;
        width: 16%;
        left: 42%;
        height: 1px;
        background-color: #494747;
        display: block;
      }
      &:before {
        @media @tablet {
          display: none;
        }
      }
    }
  }
  &__field {
    font-weight: 300;
    position: relative;
    font-size: 1.2rem;
    line-height: 1.5;
    padding: 0.4rem 2rem;
    @media @tablet {
      padding: 2.4rem 2rem;
      font-size: 1.2rem;
    }
    &:before {
      content: "";
      position: absolute;
      top: 0;
      width: 16%;
      left: 42%;
      height: 1px;
      background-color: #494747;
      display: none;
      @media @tablet {
        display: block;
      }
    }
    &:first-child {
      &:before {
        display: none;
      }
    }
    &--description {
      font-size: 1.6rem;
      padding: 3.4rem 2rem 1.4rem;
      @media @tablet {
        padding: 2.4rem 2rem 2.4rem;
      }
      &:before {
        content: "";
        position: absolute;
        width: 16%;
        left: 42%;
        height: 1px;
        background-color: #494747;
        display: block;
        top: 2rem;
        @media @tablet {
          top: 1.3rem;
        }
      }
    }
    &--sizes {
      padding: 0.4rem 0;
      @media @tablet {
        padding: 2.4rem 0;
      }
    }
  }
  &__label {
    padding: 0.3rem 0;
  }
  &__value {
    padding: 0.3rem 0;
    color: #020202;
    font-weight: 400;
    &--description {
      font-weight: 300;
    }
  }
  &__size {
    color: #202020;
    font-size: 1rem;
    text-align: center;
    cursor: pointer;
    width: 3.6rem;
    height: 3.6rem;
    margin: .2rem;
    letter-spacing: -.001em;
    padding: 0.9rem 0 0;
    display: inline-block;
    border: solid 1px rgba(73, 71, 71, .2);
    transition: border-color 220ms @easeOutQuad, background-color 220ms @easeOutQuad, color 220ms @easeOutQuad;
    .h &:hover {
      border-color: rgba(73, 71, 71, 1);
    }
    &.is-active {
      color: #fff;
      border-color: rgba(73, 71, 71, 1);
      background-color: rgba(73, 71, 71, 1);
    }
  }
}