.contacts {
  padding: 3.1rem 0;
  @media @tablet {
    display: flex;
    flex-wrap: wrap;
    padding: 6rem 2.2rem;
  }
  &__section {
    padding: 1.2rem 0;
    @media @tablet {
      padding: 1.5rem 1.4rem;
      width: 50%;
    }
  }
  &__block {
    padding: 1.8rem 3.9rem 1.7rem;
    text-align: center;
    @media @tablet {
      padding: 3.2rem 1rem;
      height: 67.8rem;
      // min-height: 67.8rem;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      align-content: center;
      justify-content: center;
    }
  }
  &__title {
    padding: 3rem 0 2.6rem;
    @media @tablet {
      padding: 3.5rem 0 2.6rem;
    }
  }
  &__info {
    padding: 3.9rem 0 4rem;
    position: relative;
    letter-spacing: 0.09em;
    @media @tablet {
      padding: 2.4rem 0 2.5rem;
    }
    &:before,
    &:after {
      content: "";
      background-color: #8d8b8b;
      height: 1px;
      position: absolute;
      left: 37%;
      width: 26%;
      @media @tablet {
        left: 42%;
        width: 16%;
      }
    }
    &:before {
      top: 0.5rem;
      @media @tablet {
        top: 0;
      }
    }
    &:after {
      bottom: 0.7rem;
      @media @tablet {
        bottom: 0;
      }
    }
    p {
      margin: 0;
    }
  }
  &__media {
    // height: 7.6rem;
    height: 10.2rem;
    @media @tablet {
      height: 14.8rem;
    }
    &:before {
      content: "";
      height: 100%;
      display: inline-block;
      vertical-align: bottom;
    }
  }
  &__image {
    display: inline-block;
    vertical-align: bottom;
    max-width: 100%;
    max-height: 100%;
    @media @tablet {
      max-width: 54%;
    }
  }
  &__branches {
    padding: 1.9rem 0 1.7rem;
    position: relative;
    @media @tablet {
      // display: flex;
      font-size: 0;
      padding: 2.9rem 0 1.7rem;
    }
    &:after {
      content: "";
      background-color: #8d8b8b;
      height: 1px;
      position: absolute;
      left: 42%;
      width: 16%;
      bottom: 0;
    }
  }
  &__branch {
    letter-spacing: 0.04em;
    padding: 1rem 0;
    @media @tablet {
      padding: 0 0 2rem;
      display: inline-block;
      // width: 33.33%;
      width: 50%;
      vertical-align: top;
      // flex: 1 1 50%;
    }
  }
  &__map-trigger {
    letter-spacing: 0.2em;
    font-size: 1rem;
    margin: 3.2rem auto 1.1rem;
    padding: 0.6rem 3.3rem 0.6rem 1.6rem;
    @media @tablet {
      font-size: 1rem;
      margin: 2.1rem auto 0.6rem;
      padding: 0.7rem 5.5rem 0.7rem 3.8rem;
    }
  }
}