.dropdown {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  pointer-events: all;
  overflow: hidden;
  background-color: #fff;
  transition: opacity 220ms @easeOutQuad;
  &__dialog {
  	position: absolute;
  	top: 6.6rem;
  	bottom: 0;
  	left: 0;
  	right: 0;
  	overflow-y: scroll;
  	overflow-x: hidden;
  	-webkit-overflow-scrolling: touch;
  }
	&__top {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 6.6rem;
		background-color: #fff;
	}
  &__close {
  	top: 0;
  	right: -0.4rem;
  	width: 6.6rem;
  	height: 6.6rem;
  	display: block;
  	position: absolute;
  	.x(6.6rem, 2.4rem, .2rem, #494747);
  }
	&__list {
		padding-bottom: 6.6rem;
	}
	&__item {
		display: block;
		position: relative;
		border-top: solid 1px #e5e5e5;
		cursor: pointer;
		&:last-child {
			border-bottom: solid 1px #e5e5e5;
		}
		&.is-active {
			.dropdown {
				&__check {
					border-color: #b77e67;
					background-color: #b77e67;
				}
			}
		}
	}
	&__check {
		display: block;
		border-radius: 50%;
		border: solid 1px #e5e5e5;
		position: absolute;
		top: 2.3rem;
		left: 2rem;
		width: 2.4rem;
		height: 2.4rem;
		cursor: pointer;
	}
	&__text {
		cursor: pointer;
		text-decoration: none;
		color: #494747;
		font-weight: 400;
		display: block;
		padding: 2.6rem 5.7rem;
	}
}

