.favorites {
  &__container {}
  &__top {
    padding: 4.1rem 0 4.5rem;
    @media @tablet {
      padding: 7.1rem 0;
    }
    h2 {
      font-weight: 300;
      letter-spacing: 0.2em;
    }
  }
  &__slider {
    .swiper-container;
    overflow: visible;
    padding-bottom: 12.2rem;
    @media @tablet {
      padding-bottom: 3.4rem;
    }
  }
  &__wrapper {
    .swiper-wrapper; // padding-bottom: 8rem;
    height: auto;
    transition-timing-function: @easeOutQuad;
  }
  &__slide {
    .swiper-slide;
    height: auto;
    text-align: center;
    position: relative;
    transition: opacity 500ms @easeOutQuad;
    opacity: 0;
    transition-property: transform, opacity;
    @media @tablet {
      padding-left: 50%;
    }
    &.is-active {
      opacity: 1;
    }
  }
  &__image {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
    width: 80%;
    padding-top: 98%;
    margin: 0 auto;
    @media @tablet {
      position: absolute;
      width: auto;
      padding-top: 0;
      top: -2rem;
      left: 11.2%;
      right: 50%;
      bottom: -6rem;
    }
  }
  &__info {
    padding: 2.8rem 0rem 2.8rem;
    @media @tablet {
      padding: 12.1rem 20.1% 12.1rem 17%;
    }
  }
  &__logo {
    margin: auto;
    height: 6.4rem;
    width: 17.6rem;
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    margin-bottom: 2rem;
    @media @tablet {
      height: 8.5rem;
      width: 22.6rem;
    }
  }
  &__description {
    text-transform: uppercase;
    position: relative;
    padding: 3rem 1rem;
    @media @tablet {
      line-height: 24/14;
      padding: 6.3rem 1rem;
    }
    &:before,
    &:after {
      content: "";
      position: absolute;
      width: 5.4rem;
      left: ~"calc(50% - 2.7rem)";
      height: 1px;
      background-color: #494747;
    }
    &:before {
      top: .5rem;
      @media @tablet {
        top: 2.1rem;
      }
    }
    &:after {
      bottom: .6rem;
      @media @tablet {
        bottom: 2rem;
      }
    }
  }
  &__footer {
    padding-top: 2rem;
  }
  &__more {
    // padding: .2rem 4.5rem .2rem 0;
  }
  &__pagination {
    margin: 8.6rem 0; // padding: 0 4.3rem;
    display: none;
    @media @tablet {
      display: block;
    }
  }
  &__bullets {
    // background-color: red;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-content: stretch;
    align-items: center;
    position: relative;
  }
  &__bullet {
    flex: 0 0 3.8rem;
    width: 3.8rem;
    height: 1px;
    &:after {
      background-color: #b8ab9f;
      content: "";
      position: absolute;
      top: 0;
      height: 1px;
      pointer-events: none;
    }
  }
  &__line {
    display: block;
    background-color: #b8ab9f;
    content: "";
    position: absolute;
    top: 0;
    left: 2.2rem;
    right: 2.2rem;
    transform-origin: 0% 50%;
    height: 1px;
    pointer-events: none;
    transition: transform 0ms linear;
    &--base {
      opacity: .3;
    }
    &--main {}
  }
  &__nav {
    position: absolute;
    display: block;
    bottom: 9rem;
    white-space: nowrap;
    @media @tablet {
      display: none;
    }
    &--current {
      left: 50%;
    }
    &--prev {
      left: 17%;
    }
    &--next {
      right: 17%;
    }
    &--prev,
    &--next {
      &:before,
      &:after {
        content: "";
        position: absolute;
        top: 0;
        height: 1px;
        width: 18vw;
        background-color: #b8ab9f;
      }
      &:before {
        right: 1rem;
      }
      &:after {
        left: 1rem;
      }
    }
  }
}