.filter {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  font-weight: 400;
  font-size: 1.2rem;
  // margin: 0 1.4rem;
  margin: 1.4rem;
  width: 18%;
  background-color: #f5f5f5;
  position: relative;
  &.is-open {
    .filter {
      &__trigger {
        &:after {
          transform: rotateX(180deg) rotate(45deg);
        }
      }
    }
  }
  &__trigger {
    .h &:hover {
      background-color: #f1f1f1;
    }
  }
  &__list {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #f5f5f5;
  }
  &__item {
    padding: 0.8rem 2rem;
    color: #494747;
    cursor: pointer;
    display: block;
    text-decoration: none;
    transition: background-color 350ms @easeOutQuad;
    .h &:hover {
      background-color: #f1f1f1;
    }
  }
}