.intro {
  &__background {
    position: absolute;
    opacity: 0.2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    z-index: 1;
  }
  &__overlay {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    opacity: 0.72;
    z-index: 2;
    background: linear-gradient( to bottom, rgba(249, 230, 213, 0) 50%, rgba(249, 230, 213, 1) 100%);
  }
  &__content {
    max-width: 92rem;
    position: relative;
    padding: 0 1.6rem;
    z-index: 3;
    h1 {
      font-size: 2.4rem;
      opacity: 0;
      will-change: opacity, letter-spacing;
      transition: opacity 1000ms @easeOutQuad, letter-spacing 1000ms @easeOutQuad;
      @media @tablet {
        letter-spacing: 0.15em;
        white-space: nowrap;
        font-size: 3rem;
      }
    }
    &.is-ready {
      h1 {
        opacity: 1;
        letter-spacing: 0.1em;
      }
    }
  }
  &__text {
    position: relative;
    font-weight: 300; // font-size: 1.4rem;
    padding: 4.5vh 0.3rem 0;
    opacity: 0;
    will-change: opacity, padding;
    transition: opacity 1000ms @easeOutQuad 350ms, padding 1000ms @easeOutQuad 350ms;
    &.is-ready {
      opacity: 1;
      padding: 8.5vh 0.3rem;
    }
    @media @tablet {
      line-height: 24/14;
      padding: 5.3vh 14rem 0;
      &.is-ready {
        padding: 9.3vh 14rem;
      }
    }
    &:before,
    &:after {
      content: "";
      position: absolute;
      width: 5.4rem;
      left: ~"calc(50% - 2.7rem)";
      height: 1px;
      background-color: #494747;
    }
    &:before {
      top: 6vh;
    }
    &:after {
      bottom: 6.6vh;
    }
  }
  &__scrollto {
    transform: rotate(-90deg) translate3d(-2rem, 0, 0);
    cursor: pointer;
    position: absolute;
    width: 4.8rem;
    height: 4.8rem;
    z-index: 4;
    left: ~"calc(50% - 2.4rem)";
    transition: transform 350ms @easeOutQuad, opacity 220ms @easeOutQuad;
    bottom: 3rem;
    will-change: opacity, padding;
    opacity: 0;
    &.is-ready {
      transform: rotate(-90deg);
      opacity: 1;
    }
    .h &:hover {
      transform: rotate(-90deg) translate3d(0.6rem, 0, 0);
      opacity: 0.6;
    }
    @media @tablet {
      bottom: 3.6rem;
    }
  }
}