.langs {
  &__item {
    display: inline-block;
    vertical-align: top;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      bottom: -0.2rem;
      left: 0.2rem;
      right: 1.4rem;
      height: 1px;
      background-color: #3d3c3c;
      opacity: 0;
      transition: opacity 350ms @easeOutQuad, transform 350ms @easeOutQuad;
    }
    &:after {
      content: "/";
      display: inline-block;
      margin-left: 0.4rem;
    }
    &:last-child {
      &:after {
        opacity: 0;
      }
    }
    &.is-active {
      &:before {
        opacity: 1;
      }
    }
    .h &:hover {
      &:before {
        opacity: 0.6;
      }
    }
  }
  &__link {
    color: #3d3c3c;
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
  }
}
