.mobfilter {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 5;
	pointer-events: all;
	overflow: hidden;
	background-color: #fff;
  transition: opacity 220ms @easeOutQuad;
	&__dialog {
		position: absolute;
		top: 6.6rem;
		bottom: 0;
		left: 0;
		right: 0;
		overflow-y: scroll;
		overflow-x: hidden;
		-webkit-overflow-scrolling: touch;
	}
	&__top {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 6.6rem;
		background-color: #fff;
	}
	&__close {
		top: 0;
		right: -0.4rem;
		width: 6.6rem;
		height: 6.6rem;
		display: block;
		position: absolute;
		.x(6.6rem, 2.4rem, 0.2rem, #494747);
	}
	&__filters {
		padding: 0 1.9rem 6.6rem;
	}
	&__group {
		padding: 0.8rem 0 1.9rem;
		border-bottom: solid 1px #e5e5e5;
	}
	&__label {
		padding: 1.3rem 0;
		font-size: 1.6rem;
		font-weight: 600;
	}
	&__list {
	}
	&__item {
		display: block;
		position: relative;
		cursor: pointer;
		&.is-active {
			.mobfilter {
				&__check {
					&:before {
						opacity: 1;
						transform: rotate(-45deg);

					}
				}
			}
		}
	}
	&__check {
		display: block;
		border: solid 1px #e5e5e5;
		position: absolute;
		top: 0.8rem;
		left: 0.1rem;
		width: 2.4rem;
		height: 2.4rem;
		cursor: pointer;
		&:before {
			content: '';
			position: absolute;
			width: 1rem;
			height: .6rem;
			left: 0.6rem;
			top: 0.6rem;
			border-bottom: solid 2px #ddcec4;
			border-left: solid 2px #ddcec4;
			opacity: 0;
			transition: transform 220ms @easeOutBack, opacity 220ms @easeOutQuad;
		}
	}
	&__text {
		cursor: pointer;
		text-decoration: none;
		color: #494747;
		font-weight: 400;
		display: block;
		padding: 0.9rem 3.9rem;
	}
}
