.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  pointer-events: all;
  overflow: hidden;
  @media @tablet {
    display: flex;
    padding: 10vh 0;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }
  &__dialog {
    margin: auto;
    z-index: 2;
    background-color: #fff;
    max-width: 96rem;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    @media @tablet {
      width: 100%;
      height: auto;
      position: relative;
      overflow: visible;
    }
  }
  &__content {
    position: relative;
    z-index: 1;
    padding: 6.6rem 2rem;
    @media @tablet {
      padding: 5.4rem;
    }
  }
  &__top {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    border-bottom: solid 1px @main;
    height: 4.8rem; // @media @tablet {
    //   border-bottom: none;
    // }
  }
  &__close {
    .x(5.5rem, 2.2rem, 0.2rem, @main);
    cursor: pointer; // position: fixed;
    top: 0;
    right: 0;
    display: block;
    z-index: 2;
    width: 5.5rem;
    height: 5.5rem; // @media @tablet {
    position: absolute; // }
  }
  &__backdrop {
    background-color: rgba(0, 0, 0, 0.2);
    display: block;
    position: fixed;
    left: 0;
    width: 100vw;
    height: 100vh;
    top: inherit;
    z-index: 1;
  }
  &__position {
    @media @tablet {
      padding: 0.4rem 4.7rem;
    }
  }
  &__top-search {
    padding: 0.8rem 0;
  }
}