.position {
  &__top {
    color: #b8ab9f;
  }
  &__title {
    font-weight: 600;
    font-size: 1.6rem;
    padding: 0rem 0;
    @media @tablet {
      padding: 0;
    }
  }
  &__location {
    font-weight: 300;
  }
  &__content {
    padding: 0.7rem 0;
    @media @tablet {
      padding: 0;
    }
    a {
      color: #b8ab9f;
    }
  }
  &__text {}
  &__list {}
  &__list-item {
    color: #b8ab9f;
    position: relative;
    padding: 0.6rem 0 0.6rem 3.2rem;
    @media @tablet {
    padding: 0.6rem 0 0.6rem 3.2rem;

    }
    &:before {
      content: "";
      position: absolute;
      width: 0.8rem;
      height: 0.8rem;
      background-color: #8c8279;
      top: 1.4rem;
      left: 0.3rem;
      transform: rotate(45deg);
    }
  }
  &__footer {}
}