.private {
	// padding: 31.2rem 0 0rem;
	// &__background {
	// 	position: relative;
	// 	padding-top: 58%;
	// 	background-repeat: no-repeat;
	// 	background-size: cover;
	// 	margin-left: -11.5%;
	// 	margin-right: -11.5%;

	// }
	&__gif {
		display: block;
		// position: absolute;
    // bottom: 7.5rem;
    // top: 0;
    // // left: 16.4%;
    // left: 0;
		// width: 100%;
	}
}