.related {
  position: relative; // text-align: center;
  // padding: 6.5rem 0;
  padding: 36.3rem 0 1.8rem;
  @media @tablet {
    padding: 6.5rem 0;
  }
  &__container {
  }
  &__slider {
    .swiper-container;
    height: auto;
  }
  &__wrapper {
    .swiper-wrapper;
    height: auto;
  }
  &__thumbs {
    padding: 3.2rem 2rem 3rem;
    position: relative;
    @media @tablet {
      padding: 6rem 6.2rem 3rem;
    }
  }
  &__slide {
    .swiper-slide;
    cursor: pointer;
    height: auto;
    padding-top: 120%;
    transition-property: transform, letter-spacing;
    @media @tablet {
      width: 25%;
      margin-right: 1.2rem;
      padding-top: 0;
    }
  }
  &__nav {
    width: 7.5rem;
    height: 7.5rem;
    position: absolute;
    top: ~"calc(50% - 4.4rem)";
    cursor: pointer;
    z-index: 2;
    display: block;
    background-image: none;
    @media @tablet {}
    &:before {
      content: "";
      position: absolute;
      left: 2.8rem;
      transform: rotate(45deg);
      border-bottom: solid 1px #4d4646;
      border-left: solid 1px #4d4646;
      width: 1.8rem;
      height: 1.8rem;
      top: 2.8rem;
      @media @tablet {
        top: 1.8rem;
        width: 2.6rem;
        height: 2.6rem;
      }
    }
    &--prev {
      left: -3.3rem;
      @media @tablet {
        left: -1.3rem;
      }
    }
    &--next {
      right: -3.3rem;
      @media @tablet {
        right: -1.3rem;
      }
      &:before {
        transform: rotateY(180deg) rotate(45deg);
      }
    }
  }
}