.request {
	background-color: #f9e6d5;
	padding: 3.9rem 2rem;
	@media @tablet {
		display: flex;
		padding: 4.8rem 0;
		margin: 0 -11.5%;
	}
	&__details {
		text-align: center;
		padding: 1rem 0;
		@media @tablet {
			text-align: left;
			padding: 0;
			flex: 1 1 50%;
			margin: auto;
			display: flex;
			align-items: center;
			align-content: center;
			justify-content: center;
		}
	}
	&__image {
		border-radius: 50%;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		display: inline-block;
		border: solid 1rem #e5d4c5;
		height: 10.8rem;
		width: 10.8rem;
		@media @tablet {
			width: 14.4rem;
			height: 14.4rem;
			margin-right: 3.1rem;
			margin-left: 1.6rem;
			border: solid 0.6rem #e5d4c5;
		}
	}
	&__contact {
		// display: inline-block;
		display: block;
		padding: 1.4rem 0;
		line-height: 1.5;
	}
	&__line {
		font-weight: 400;
		color: #b8ab9f;
		font-size: 1.6rem;
		// font-weight: 400;
		&--name {
			font-weight: 600;
			font-size: 1.6rem;
			@media @tablet {
				font-size: 1.8rem;
			}
		}
		&--email {
			a {
				color: inherit;
				text-decoration: none;
			}
		}
		&--phone {
		}
	}
	&__name {
	}
	&__email {
	}
	&__form {
		padding: 2.2rem 0;
		border-top: solid 1px #e5d4c5;
		@media @tablet {
			border-top: none;
			border-left: solid 1px #e5d4c5;
			flex: 1 1 50%;
			padding: 1.2rem 8.5%;
		}
	}
}
