.search {
  position: relative;
  &__input {
    padding: 1.4rem 4rem 1.4rem 1.9rem;
    font-weight: 400;
    font-size: 1.2rem;
    border: solid 1px #f5f5f5;
    display: block;
    width: 100%;
    transition: border-color 350ms @easeOutQuad;
    &:focus {
      border-color: @grey;
    }
  }
  &__icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 4.8rem;
    padding: 1.5rem;
  }
  &__svg {
  	display: block;
  	width: 100%;
  }
}