.slider {
	position: relative;
	&__container {
		.swiper-container;
		// overflow: visible;
	}
	&__wrapper {
		.swiper-wrapper;
    height: auto;
	}
	&__slide {
		.swiper-slide;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-size: contain;
    padding-top: 106%;
    height: auto;
		@media @tablet {
			padding-top: 45%;
		}
	}
	&__nav {
		width: 7.5rem;
		height: 7.5rem;
		position: absolute;
		// top: 50%;
		top: ~"calc(50% - 4.4rem)";
		cursor: pointer;
		z-index: 2;
		display: block;
		&:before {
			content: "";
			position: absolute;
			width: 2.6rem;
			top: 1.8rem;
			left: 2.8rem;
			height: 2.6rem;
			transform: rotate(45deg);
			border-bottom: solid 1px #4d4646;
			border-left: solid 1px #4d4646;
			@media @tablet {
				top: 1.8rem;
			}
		}
		&--prev {
			left: -2.3rem;
			@media @tablet {
				left: -7rem;
			}
		}
		&--next {
			right: -1.8rem;
			@media @tablet {
				right: -7rem;
			}
			&:before {
				transform: rotateY(180deg) rotate(45deg);
			}
		}
	}
}
