.thumb {
  position: relative;
  overflow: hidden;
  padding-top: 112%;
  @media @tablet {
    padding-top: 0;
    height: 31.2rem;
  }
  &__image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-repeat: no-repeat;
    transition: transform 350ms @easeOutQuad;
    background-size: auto 65%;
    background-position: 50% 23%;
    display: block;
    @media @tablet {
      background-size: auto 70%;
      background-position: 50% 25%;
    }
    &--related {
      background-size: auto 65%;
      background-position: 50% 10%;
    }
  }
  &__link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    opacity: 0;
  }
  &__title {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    color: #666666;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    transition: letter-spacing 350ms @easeOutQuad;
    padding: 3.5rem;
    font-size: 1.2rem;
    @media @tablet {
      font-size: 1.3rem;
      padding: 2.7rem;
    }
    &--related {
      padding: 2.7rem;
      @media @tablet {
        padding: 1.7rem 1rem;
      }
    }
  }
  .h &:hover {
    .thumb {
      &__image {
        transform: scale(1.06);
      }
    }
  }
}