.top-search {
  pointer-events: all;
  &__search {
    position: relative;
    z-index: 2;
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: #3d3c3c;
      height: 1px;
      transform-origin: 0% 50%;
      transition: transform 220ms @easeOutQuad;
      @media @tablet {
        transform: scale(0, 1);
      }
    }
  }
  &__input {
    display: block;
    width: 100%;
    z-index: 2;
    padding: 1.1rem 0;
    @media @tablet {
      padding: 0.8rem 0;
    }
  }
  &__list {
    margin: 0 -2rem;
    padding: 3.5rem 0;
    @media @tablet {
      border: solid 1px #efefef;
      border-bottom: none;
      width: 22rem;
      transition: transform 220ms @easeOutQuad;
      position: absolute;
      right: 0;
      top: 6rem;
      margin: 0;
      padding: 0;
      z-index: 1;
      max-height: 20rem;
      overflow: hidden;
    }
  }
  &__scroll {
    position: relative;
  }
  &__item {
    display: block;
    text-decoration: none;
    color: #494747;
    padding: 1.4rem 2rem;
    border-bottom: solid 1px #efefef;
    background-color: #fff;
    @media @tablet {
      font-size: 1.2rem;
      padding: 1rem 1rem;
    }
  }
  &__icon {
    position: absolute;
    top: 0;
    right: 1.3rem;
    width: 3.3rem;
    height: 3.7rem;
    padding: 0.9rem 0.7rem;
    z-index: 3;
    @media @tablet {
      pointer-events: none;
      z-index: 1;
      top: 0;
      right: 0;
      padding: 1.2rem 1rem;
      width: 3.4rem;
      height: 3.8rem;
    }
  }
  &__svg {
    display: block;
    width: 100%;
    height: 100%;
  }
  &.is-focused {
    .top-search {
      &__search {
        &:after {
          transform: scale(1, 1);
          transform-origin: 100% 50%;
        }
      }
    }
  }
}
