<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
  <title>degtine</title>
  <link rel="icon" type="image/png" sizes="32x32" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/favicon-16x16.png">
  <!--[if IE]><link rel="shortcut icon" href="/static/img/icons/favicon.ico"><![endif]-->
  <!-- Add to home screen for Android and modern mobile browsers -->
  <link rel="manifest" href="<%= htmlWebpackPlugin.files.publicPath %>static/manifest.json">
  <meta name="theme-color" content="#4DBA87">

  <!-- Add to home screen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="degtine">
  <link rel="apple-touch-icon" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/apple-touch-icon-152x152.png">
  <link rel="mask-icon" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/safari-pinned-tab.svg" color="#4DBA87">
  <!-- Add to home screen for Windows -->
  <meta name="msapplication-TileImage" content="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/msapplication-icon-144x144.png">
  <meta name="msapplication-TileColor" content="#000000">
  <style>.loader{position:fixed;top:0;left:0;width:100vw;height:100vh;overflow:hidden;z-index:7;background-color:#fff;display:-ms-flexbox;display:flex;-ms-flex-direction:column;flex-direction:column;-ms-flex-wrap:wrap;flex-wrap:wrap;-ms-flex-pack:center;justify-content:center;-ms-flex-line-pack:center;align-content:center;-ms-flex-align:center;align-items:center}.loader__filter{position:absolute;visibility:hidden}.loader__dots{-webkit-filter:url(#goo);filter:url(#goo);padding:30px}.loader__dot{background:#f9e6d5;border-radius:50%;display:inline-block;margin-right:20px;width:32px;height:32px;animation-duration:3s;animation-iteration-count:infinite}.loader__dot--1{animation-name:goo1}.loader__dot--2{animation-name:goo2}.loader__dot--3{animation-name:goo3}.loader__dot--4{animation-name:goo4}.loader__dot--5{animation-name:goo5}@keyframes goo1{0%{transform:scale(1) translateX(0)}25%{transform:scale(2.5) translateX(0)}50%{transform:scale(1) translateX(0)}83%{transform:scale(1) translateX(240px)}to{transform:scale(1) translateX(0)}}@keyframes goo2{0%{transform:translateX(0)}27%{transform:translateX(-40px)}50%{transform:translateX(0)}81%{transform:translateX(180px)}to{transform:translateX(0)}}@keyframes goo3{0%{transform:translateX(0)}29%{transform:translateX(-100px)}50%{transform:translateX(0)}79%{transform:translateX(120px)}to{transform:translateX(0)}}@keyframes goo4{0%{transform:translateX(0)}31%{transform:translateX(-160px)}50%{transform:translateX(0)}77%{transform:translateX(60px)}to{transform:translateX(0)}}@keyframes goo5{0%{transform:scale(1) translateX(0)}33%{transform:scale(1) translateX(-220px)}50%{transform:scale(1) translateX(0)}75%{transform:scale(2.5) translateX(0)}to{transform:scale(1) translateX(0)}}</style>
  
  <% for (var chunk of webpack.chunks) {
        for (var file of chunk.files) {
          if (file.match(/\.(js|css)$/)) { %>
    <link rel="<%= chunk.initial?'preload':'prefetch' %>" href="<%= htmlWebpackPlugin.files.publicPath + file %>" as="<%= file.match(/\.css$/)?'style':'script' %>">
    <% }}} %>
</head>

<body data-page-url="https://www.degtine.lt" data-lang="lt">
<!-- <body data-page-url="http://degtine.devprojects.lt" data-lang="lt"> -->
  <noscript>
    This is your fallback content in case JavaScript fails to load.
  </noscript>
  <div id="app"></div>
  <!-- Todo: only include in production -->
  <%= htmlWebpackPlugin.options.serviceWorkerLoader %>
    <!-- built files will be auto injected -->
</body>

</html>