description = "Default layout"
==
use Newcode\Pages\Models\Page;
use Newcode\Pages\Models\Subpage;
use Newcode\Ui\Models\Ui;
use Newcode\Products\Models\Category;
use Newcode\Products\Models\Product;
use Newcode\Careers\Models\Career;
use RainLab\Translate\Classes\Translator;
protected $translator;

function onStart(){

    $this->translator = Translator::instance();
    $this['current_lang'] = $this->activeLocale = $this->translator->getLocale();

    if(isset($_SERVER['HTTPS'])){
        $protocol = ($_SERVER['HTTPS'] && $_SERVER['HTTPS'] != "off") ? "https" : "http";
    }
    else{
        $protocol = 'http';
    }

    $this['server_name'] =  $protocol . "://" . $_SERVER['SERVER_NAME'];

    if($this->param('slug2')){
        $subpage = Subpage::transWhere('slug', $this->param('slug2'), $this['current_lang'])->first();
        if(!$subpage){
            $career = Career::transWhere('slug', $this->param('slug2'), $this['current_lang'])->first();
            if(!$career){
                $product = Product::transWhere('slug', $this->param('slug2'), $this['current_lang'])->first();
                if($product){
                    $this['page_content'] = $product;
                }
            }
            else{
                $this['page_content'] = $career;
            }
        }
        else{
            $this['page_content'] = $subpage;
        }
    }
    else if($this->param('slug1')){
        $page = Page::transWhere('slug', $this->param('slug1'), $this['current_lang'])->first();
        if(!$page){
            $category = category::transWhere('slug', $this->param('slug1'), $this['current_lang'])->first();
            if($category){
                $this['page_content'] = $category;
            }
        }
        else{
            $this['page_content'] = $page;
        }
    }
    else{
        $this['page_content'] = Page::transWhere('slug', '_', $this['current_lang'])->first();
    }

    $this['ui'] = Ui::first();
}

==
<html>
    <head>
        <meta charset=utf-8>
        <meta http-equiv=X-UA-Compatible content="IE=edge">
        <meta name=viewport content="width=device-width,initial-scale=1,user-scalable=0,minimum-scale=1,maximum-scale=1">
        {% if page_content.meta_title %}
        <title>{{ page_content.meta_title }} {{ ui.page_suffix }}</title>
        {% else %}
        <title>{{ ui.default_meta_title }} {{ ui.page_suffix }}</title>
        {% endif %}
        {% if page_content.meta_description %}
        <meta name="description" content="{{ page_content.meta_description }}">
        {% else %}
        <meta name="description" content="{{ ui.default_meta_description }}">
        {% endif %}
        {% if page_content.meta_title %}
        <meta property="og:title" content="{{ page_content.meta_title }} {{ ui.page_suffix }}">
        {% else %}
        <meta property="og:title" content="{{ ui.default_meta_title }} {{ ui.page_suffix }}">
        {% endif %}
        {% if page_content.meta_description %}
        <meta property="og:description" content="{{ page_content.meta_description }}">
        {% else %}
        <meta property="og:description" content="{{ ui.default_meta_description }}">
        {% endif %}
        {% if page_content.meta_image %}
        <meta property="og:image" content="{{ server_name }}{{ page_content.meta_image|media }}">
        {% else %}
        <meta property="og:image" content="{{ server_name }}{{ ui.default_meta_image|media }}">
        {% endif %}
        <meta property="og:url" content="{{ server_name }}">
        <style>.loader{position:fixed;top:0;left:0;width:100vw;height:100vh;overflow:hidden;z-index:7;background-color:#fff;display:-ms-flexbox;display:flex;-ms-flex-direction:column;flex-direction:column;-ms-flex-wrap:wrap;flex-wrap:wrap;-ms-flex-pack:center;justify-content:center;-ms-flex-line-pack:center;align-content:center;-ms-flex-align:center;align-items:center}.loader__filter{position:absolute;visibility:hidden}.loader__dots{-webkit-filter:url(#goo);filter:url(#goo);padding:30px}.loader__dot{background:#f9e6d5;border-radius:50%;display:inline-block;margin-right:20px;width:32px;height:32px;animation-duration:3s;animation-iteration-count:infinite}.loader__dot--1{animation-name:goo1}.loader__dot--2{animation-name:goo2}.loader__dot--3{animation-name:goo3}.loader__dot--4{animation-name:goo4}.loader__dot--5{animation-name:goo5}@keyframes goo1{0%{transform:scale(1) translateX(0)}25%{transform:scale(2.5) translateX(0)}50%{transform:scale(1) translateX(0)}83%{transform:scale(1) translateX(240px)}to{transform:scale(1) translateX(0)}}@keyframes goo2{0%{transform:translateX(0)}27%{transform:translateX(-40px)}50%{transform:translateX(0)}81%{transform:translateX(180px)}to{transform:translateX(0)}}@keyframes goo3{0%{transform:translateX(0)}29%{transform:translateX(-100px)}50%{transform:translateX(0)}79%{transform:translateX(120px)}to{transform:translateX(0)}}@keyframes goo4{0%{transform:translateX(0)}31%{transform:translateX(-160px)}50%{transform:translateX(0)}77%{transform:translateX(60px)}to{transform:translateX(0)}}@keyframes goo5{0%{transform:scale(1) translateX(0)}33%{transform:scale(1) translateX(-220px)}50%{transform:scale(1) translateX(0)}75%{transform:scale(2.5) translateX(0)}to{transform:scale(1) translateX(0)}}</style>
        <!-- <link rel=preload href="{{ 'assets/js/vendor.js'|theme }}" as=script> -->
        <link rel=preload href="{{ 'assets/js/app.js'|theme }}" as=script>
        <link rel=preload href="{{ 'assets/css/app.css'|theme }}" as=style>
        <!-- <link rel=preload href="{{ 'assets/js/manifest.js'|theme }}" as=script> -->
        <link href="{{ 'assets/css/app.css'|theme }}" rel=stylesheet>
        <link rel="shortcut icon" type="image/png" href="{{ 'assets/img/fav/favicon.ico'|theme }}"/>
    </head>
    <body data-page-url="{{ server_name }}" data-lang="{{ current_lang }}">
        <noscript>This is your fallback content in case JavaScript fails to load.</noscript>
        <!-- <div id=app data-root=http://localhost:8080></div> -->
        <div id="app">
          <div class="loader">
            <svg class="loader__filter" version="1.1">
              <defs>
                <filter id="goo">
                  <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur"
                  />
                  <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 20 -10"
                    result="goo" />
                  <feComposite in="SourceGraphic" in2="goo" operator="atop" />
                </filter>
              </defs>
            </svg>
            <div class="loader__dots">
              <div class="loader__dot loader__dot--1 mainDot"></div>
              <div class="loader__dot loader__dot--2"></div>
              <div class="loader__dot loader__dot--3"></div>
              <div class="loader__dot loader__dot--4"></div>
              <div class="loader__dot loader__dot--5"></div>
            </div>
          </div>
        </div>
        <!-- Scripts -->
        <!-- <script type=text/javascript src="{{ 'assets/js/manifest.js'|theme }}"></script> -->
        <!-- <script type=text/javascript src="{{ 'assets/js/vendor.js'|theme }}"></script> -->
        <script type=text/javascript src="{{ 'assets/js/app.js'|theme }}"></script>
    </body>
</html>