<template>
  <div class="beverage__slide" :class="{'is-active':targetSlide}">
    <div v-for="(size, s) in beverage.sizes" class="beverage__image"
      :class="{'is-visible':activeSize===s}" :key="s" :style="bg(size['size_image_'+$store.getters.lang])"
    />
    <div class="beverage__card card" :style="{backgroundColor:beverage.color}">
      <span @click="goBack" class="card__back" />
      <div class="card__fields card__fields--left">
        <div v-if="beverage.subcategory && beverage.subcategory.length && beverage.hide_everything !== 1"
          class="card__category" v-text="beverage.subcategory"
        />
        <div v-else-if="beverage.hide_everything !== 1" class="card__category"
          v-text="category.title" />
        <h2 v-text="beverage.title" />
        <div class="card__field card__field--description" v-if="beverage.description">
          <div class="card__value card__value--description" v-text="beverage.description"
          />
        </div>
        <div class="card__field" v-for="(field, l) in beverage.left_section"
          :key="l">
          <div v-if="field.label" class="card__label" v-text="field.label"
          />
          <div class="card__value" v-text="field.value" />
        </div>
      </div>
      <div class="card__fields card__fields--right">
        <div class="card__field" v-for="(field, l) in beverage.right_section"
          :key="l">
          <div v-if="field.label" class="card__label" v-text="field.label"
          />
          <div class="card__value" v-text="field.value" />
        </div>
        <div class="card__field card__field--sizes" v-if="beverage.sizes">
          <div class="card__label" v-text="$store.getters.ui.size_label"
          />
          <div class="card__size" v-for="(size, s) in beverage.sizes" :key="s"
            @click="setSize(s)" v-text="size['size']" :class="{'is-active':activeSize===s}"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ifDefined from '@/tools/ifDefined'
import anime from 'animejs'

export default {
  props: ['category', 'beverage', 'swiper', 'i'],
  components: {},
  name: 'BeverageSlide',
  computed: {
    targetSlide() {
      if (ifDefined(this.swiper)) {
        return this.swiper['activeIndex'] === this.i
      } else {
        return false
      }
    }
  },
  data() {
    return {
      activeSize: 0
    }
  },
  methods: {
    setSize(i) {
      var targetSize = 0
      if (i || i === 0) targetSize = i
      else {
        if (ifDefined(this.beverage.sizes)) {
          this.beverage.sizes.forEach((size, s) => {
            if (Number(size.show_default) === 1) {
              targetSize = s
            }
          })
        }
      }
      anime({
        duration: 500,
        targets: '[data-page]',
        easing: 'easeOutSine',
        scrollTop: 0
      })
      this.activeSize = targetSize
    },
    goBack() {
      this.$router.push('/' + this.category.slug)
    }
  },
  mounted() {
    // console.log(this.swiper.activeIndex)
    // console.log(this.i)
    this.setSize()
  }
}
</script>
