<template>
  <div class="related">
    <div class="related__container container container--l">
      <h3 v-text="$store.getters.ui.related_label" />
      <div class="related__thumbs">
        <div class="related__slider swiper-container" ref="relatedSlider">
          <div class="related__wrapper swiper-wrapper">
            <div class="related__slide thumb swiper-slide" @click="$emit('goToBeverage', beverage.slug)"
              v-for="(beverage, b) in uniqueBeverages" :key="'beverage'+b"
              :style="{backgroundColor:beverage.color}">
              <i class="thumb__image thumb__image--related" :style="getDefaultImage(beverage)"/>
              <div class="thumb__title thumb__title--related" v-text="beverage.title"
              />
            </div>
          </div>
        </div>
        <div class="related__nav related__nav--prev swiper-button-prev"
          ref="relatedPrev" v-show="hasSwiper" />
        <div class="related__nav related__nav--next swiper-button-next"
          ref="relatedNext" v-show="hasSwiper" />
      </div>
    </div>
  </div>
</template>

<script>
import ifDefined from '@/tools/ifDefined'

import Swiper from 'swiper/dist/js/swiper.js'

export default {
  name: 'RelatedBeverages',
  props: { beverages: {} },
  data() {
    return {
      hasSwiper: false,
      uniqueBeverages: {},
      swiper: null,
      speed: 300
    }
  },
  computed: {
    category() {
      return ifDefined(this.$store.getters.page.parent)
        ? this.$store.getters.page.parent
        : this.$store.getters.page
    }
  },
  methods: {
    getDefaultImage(beverage) {
      var o = {}
      if (beverage.sizes) {
        beverage.sizes.forEach((b, i) => {
          if (Number(b.show_default) === 1) {
            o = this.bg(b['size_image_' + this.$store.getters.lang])
          }
        })
      }
      return o
    },
    getUniqueBeverages(slug) {
      var u = { ...this.beverages }
      delete u[slug]
      this.uniqueBeverages = u
    },
    beverageURL(slug) {
      return '/' + this.category.slug + '/' + slug
    },
    initRelatedSwiper() {
      this.swiper = new Swiper(this.$refs['relatedSlider'], {
        speed: this.speed,
        spaceBetween: 12,
        slidesPerView: 4,
        breakpoints: {
          768: {
            slidesPerView: 1
          }
        },
        simulateTouch: false,
        loop: true,
        on: {
          init: () => {
            this.hasSwiper = true
          },
          transitionEnd: () => {
            if (ifDefined(this.swiper) && this.swiper.slides.length > 2) {
              if (this.swiper.isBeginning) {
                this.swiper.slideTo(this.swiper.slides.length - 2, 0)
              } else if (this.swiper.isEnd) {
                this.swiper.slideTo(1, 0)
              }
            }
          }
        },
        navigation: {
          nextEl: this.$refs['relatedNext'],
          prevEl: this.$refs['relatedPrev']
        }
      })
    }
  },
  beforeMount() {
    this.getUniqueBeverages(this.$route.name)
  },
  mounted() {
    if (
      (this.$store.getters.device.winW < 769 &&
        Object.keys(this.uniqueBeverages).length > 2) ||
      Object.keys(this.uniqueBeverages).length > 4
    ) {
      this.initRelatedSwiper()
    } else {
    }
  },
  watch: {
    $route(to, from) {
      setTimeout(() => {
        this.getUniqueBeverages(to.name)
      }, 600)
      if (this.hasSwiper) {
        setTimeout(() => {
          this.swiper.update()
        }, 601)
      }
    }
  }
}
</script>
