// Fonts
@import 'fonts.less';
@mainFont: 'Hurme Geometric Sans 3';
@secFont: 'Proxima Nova';
.font-main() {
  font-family: @mainFont;
  [data-lang='ru'] & {
    font-family: 'Roboto';
  }
}

.font-sec() {
  font-family: @secFont;
  [data-lang='ru'] & {
    font-family: 'Roboto';
  }
}

// standard normalize import
// @import 'normalize.less';
// global animations
@import 'animations.less';
// global transitions
@import 'transitions.less';
// raw element styling
@import 'base.less';
