@keyframes arrow {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.8, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}