button,
[type="button"],
// html [type="button"],
input,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  font-weight: inherit;
  line-height: inherit;
  font-family: inherit;
  font-size: inherit;
  box-sizing: border-box;
  box-shadow: none;
  border-radius: 0;
  border-color: transparent;
  background-color: transparent;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  box-shadow: none;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: transparent;
  color: inherit;
  outline: none;
  padding: 0;
  line-height: inherit;
  border-width: 0;
  border-style: solid;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-rendering: optimizeLegibility;
}

@base: 10; // base font size in pixels
@break: 1260; // design size
@scale: 40; // viewport scale factor
@vw: unit(1000 / (100 / @scale) / @break, vw);
@fsz: unit((100 - @scale) / 100 * @base, px);
html {
  background-color: @bg;
  color: @text;
  font-size: unit(@base, px);
  @media screen and (min-width: unit(@break, px)) {
    font-size: ~'calc(@{vw} + @{fsz})';
  }
}

body {
  .font-main;
  margin: 0;
  background-color: inherit;
  color: inherit;
  position: relative;
  font-weight: 400;
  height: 100%;
  letter-spacing: 0.1em;
  line-height: round(18/14, 3);
  font-size: 1.4rem;
  @media @tablet {
    font-size: @f;
    line-height: 1.5;
  }
  ::-webkit-selection {
    color: @white;
    background-color: @main;
  }
  :-moz-selection {
    color: @white;
    background-color: @main;
  }
  ::selection {
    color: @white;
    background-color: @main;
  }
  ::-webkit-input-placeholder,
  :-moz-placeholder,
  :-ms-input-placeholder {
    color: @text;
    transition: all 280ms cubic-bezier(0.23, 1, 0.32, 1);
  }
}

a {
  color: @main;
  &[href^="tel"] {
    color: inherit;
    text-decoration: none;
  }
}

table {
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

tr {
  vertical-align: top;
}

td {
  text-align: inherit;
  border: solid 1px #efefef;
  padding: .8rem;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5 {
  .font-main;
  margin: 0;
  font-weight: 300;
  color: @text;
  letter-spacing: 0.09em;
  line-height: round(30/24, 3);
  @media @tablet {}
}

h1,
h2 {
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.1em;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.4rem;
  @media @tablet {
    font-size: 3rem;
  }
}

h3 {
  font-weight: 400;
  font-size: 2.4rem;
  text-align: center;
  letter-spacing: 0.1em;
  @media @tablet {
    font-size: 3rem;
  }
}

h4 {
  font-size: 1.8rem;
  text-transform: uppercase;
  @media @tablet {
    font-size: 1.9rem;
  }
}

h5 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.2rem;
  color: #646d43;
}

p {
  margin: 1.5em 0;
  img {
    width: 100%;
  }
  ul {
    margin-top: -3.7rem;
  }
}

svg:not(:root) {
  overflow: visible;
}

option {
  width: 100%;
  display: block;
}

blockquote {
  .font-sec;
  margin: 3rem 0 0;
  padding: 0.8rem 0;
  color: @main;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 35/30;
  background-size: 7.4rem 6rem;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  letter-spacing: -0.01em;
  @media @tablet {
    background-size: 11.2rem 9rem;
    padding: 4.9rem 2rem 5.4rem;
    font-size: 3rem;
  }
}

b,
em {
  font-weight: 600;
}

ul {
  margin: 0;
  list-style-type: none;
}

li {
  margin: 0;
}

select {
  display: inline-block;
  width: 100%;
}
