.nav {
  &-enter,
  &-leave-to {
    opacity: 0;
  }
}

.modal {
  transition: opacity 350ms @easeOutQuad;
  &-enter,
  &-leave-to {
    opacity: 0;
  }
}

.loader {
  &-leave-to {
    transition: opacity 350ms @easeOutQuad;
    opacity: 0;
  }
}

.subnav {
  &-enter,
  &-leave-to {
    transform: translate3d(100%, 0, 0);
  }
}

.cookies {
  transition: transform 350ms @easeOutQuad;
  transform-origin: 50% 100%;
  perspective: 1200px;
  &-enter,
  &-leave-to {
    transform: translate3d(0, 100%, 0);
  }
}

.top-search-list {
  &-enter,
  &-leave-to {
    opacity: 0;
    transform: translate3d(0, -2rem, 0);
  }
  // &-leave,
  // &-enter-to {
  //   transform: translate3d(0, 0, 0);
  // }
}

// .main {
//   &-enter {
//     transition: opacity 800ms @easeOutQuad;
//     opacity: 0;
//   }
// }
// .main-enter-to {
//   position: absolute;
//   top: 0;
//   right: 0;
//   left: 0;
// }