.arrow(@width: 3.1rem, @height: 0.7rem, @color: #363f4d, @direction: 'left') {
  @aSize: (@height / 2) * sqrt(2);
  cursor: pointer;
  position: relative;
  width: @width;
  height: @height;
  display: block;
  transition: transform 200ms @easeOutQuad;
  &:before {
    content: '';
    position: absolute;
    top: (@height - 0.1rem) / 2;
    background-color: @color;
    height: 1px;
    left: 0;
    right: 0;
    transition: background-color 200ms @easeOutQuad;
  }
  &:after {
    content: '';
    top: ((@height - @aSize) / 2);
    position: absolute;
    width: @aSize;
    height: @aSize;
    transform: rotate(45deg);
    transition: border-color 200ms @easeOutQuad;
  }
  & when (@direction='left') {
    &:after {
      left: (@height - @aSize) / 2;
      border-left: solid 1px @color;
      border-bottom: solid 1px @color;
    }
  }
  & when (@direction='right') {
    &:after {
      right: (@height - @aSize) / 2;
      border-top: solid 1px @color;
      border-right: solid 1px @color;
    }
  }
}
