.for(@list, @code) {
  & {
    .loop(@i: 1) when (@i =< length(@list)) {
      @value: extract(@list, @i);
      @code();
      .loop(@i + 1);
    }
    .loop();
  }
}

// usage:
// @colors: #1abc9c, #2ecc71, #3498db, #9b59b6;

// .for(@colors, {
//     .color-@{i} {
//         color: @value;
//     }
// });