.back {
  position: relative;
  font-weight: 500;
  color: @main;
  cursor: pointer;
  padding: 1.1rem 1rem 1.1rem 6.2rem;
  display: inline-block;
  text-decoration: none;
  &__arrow {
    .arrow(3rem, 0.7rem, #202020);
    position: absolute;
    left: 1rem;
    top: 2.1rem;
  }
  &__text {
    color: #202020;
    font-weight: 600;
    text-decoration: none;
    font-size: 1.3rem;
    letter-spacing: .2em;
  }
  &__link {}
  .h &:hover {
    .back {
      &__arrow {
        transform: translate3d(-0.6rem, 0, 0);
      }
    }
  }
}
