.btn {
  transition: border-color 220ms @easeOutQuad,
    background-color 220ms @easeOutQuad, color 220ms @easeOutQuad;
  display: inline-block;
  width: 100%;
  text-align: center;
  cursor: pointer;
  color: @white;
  background-color: @main;
  border: solid 1px @main;
  position: relative;
  text-decoration: none;
  font-weight: 400;
  padding: 1.5rem 1.5rem 1.6rem;
  font-size: 1.4rem;
  .h &:hover {
    background-color: @mainActive;
    border-color: @mainActive;
    text-decoration: none;
    color: @white;
  }
  &--inv {
    border-color: @main;
    background-color: transparent;
    color: @main;
    .h &:hover {

    }
  }
}
