.bullet {
  text-align: center; // height: 0;
  position: relative;
  flex: 1 1 auto;
  cursor: pointer;
  position: relative;
  height: 0;
  &__text {
    position: absolute;
    top: 2.7rem;
    left: 0;
    display: block;
    letter-spacing: 0.2em;
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #b8ab9f;
    transform: translate3d(-50%, -1.5rem, 0) scale(.2);
    opacity: 0;
    pointer-events: none;
    transform-origin: 50% 0%;
    transition: opacity 220ms @easeOutQuad, transform 220ms @easeOutQuad;
    @media @tablet {
      // transform-origin: 50% 50%;
      // right: 0;
      left: 50%;
      transform: translate3d(-50%, 0, 0) scale(.2);
    }
  }
  &__icon {
    position: absolute;
    top: -0.2rem;
    width: 0.6rem;
    height: 0.6rem;
    left: ~"calc(50% - .3rem)";
    border-radius: 50%;
    background-color: #b8ab9f;
    transition: transform 220ms @easeOutQuad, opacity 220ms @easeOutQuad;
    &:before,
    &:after {
      content: "";
      border: solid 1px #b8ab9f;
      position: absolute;
      border-radius: 50%;
      opacity: 0;
      transition: opacity 220ms @easeOutQuad;
      animation: pulse 3s @easeInOutQuad 0ms infinite;
    }
    &:before {
      width: 1.8rem;
      height: 1.8rem;
      top: -0.6rem;
      left: -0.6rem;
    }
    &:after {
      width: 2.8rem;
      height: 2.8rem;
      top: -1.1rem;
      left: -1.1rem;
      animation-delay: .3s;
    }
  }
  &.is-active {
    .bullet {
      &__icon {
        transform: scale(1.33);
        &:before {
          opacity: 0.5;
        }
        &:after {
          opacity: 0.2;
        }
      }
      &__text {
        opacity: 1;
        pointer-events: all;
        transform: translate3d(-50%, 0, 0); // @media @tablet {
        //   transform: translate3d(0, 0, 0);
        // }
      }
    }
  }
  .h &:hover {
    .bullet {
      &__icon {
        &:before {
          opacity: 0.3;
        }
        &:after {
          opacity: 0.1;
        }
      }
    }
    &.is-active {
      .bullet {
        &__icon {
          &:before {
            opacity: 0.5;
          }
          &:after {
            opacity: 0.2;
          }
        }
      }
    }
  }
}