.container {
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 100rem;
  width: 100%;
  &--s {
    max-width: 54rem;
  }
  &--l {
    max-width: 124rem;
  }
  &--xl {
    max-width: 127.6rem;
  }
}