.file {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
  border: solid 1px #efefef;
  text-align: center;
  padding: 2rem;
  position: relative;
  transition: border-color 220ms @easeOutQuad;
  &__icon {
    display: inline-block;
    width: 4rem;
    height: 5.6rem;
    margin: 1rem;
  }
  &__title {
    font-size: 1.2rem;
    margin: 1rem;
    color: #9c9c9c;
    font-weight: 400;
    transition: color 220ms @easeOutQuad;
  }
  &__link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .h &:hover {
    border-color: #bbb;
    .file {
      &__title {
        color: @main;
      }
    }
  }
}
