.more {
  position: relative;
  display: inline-block;
  width: auto;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.3rem;
  cursor: pointer;
  letter-spacing: 0.15em;
  text-decoration: none;
  padding: 0.4rem 4.5rem 0.4rem 0;
  @media @tablet {
    padding: 0.4rem 4.5rem 0.4rem 0;
  }
  &__text {
    color: @sec;
    transition: color 200ms @easeOutQuad;
    text-decoration: none;
  }
  &__arrow {
    .arrow(3.1rem, 0.7rem, @sec, "right");
    position: absolute;
    top: 0.9rem;
    right: 0;
    transition: transform 200ms @easeOutQuad;
    @media @tablet {
      top: 1.2rem;
    }
  }
  &__link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .h &:hover {
    .more {
      &__text {
        color: @main;
      }
      &__arrow {
        transform: translate3d(0.6rem, 0, 0);
        &:after {
          border-color: @main;
        }
        &:before {
          background-color: @main;
        }
      }
    }
  }
}
