.scrollto {
	cursor: pointer;
	&__arrow {
		position: absolute;
		left: 0rem;
		top: 1.7rem;
		.arrow(4.8rem, 1.5rem, #494747);
		&:before {
			transform-origin: 0% 50%;
			animation: arrow 2s @easeOutQuad 0s infinite alternate;
		}
	}
}
