.trigger {
  display: block;
  cursor: pointer;
  color: #494747;
  position: relative;
  background-color: #f5f5f5;
  transition: background-color 350ms @easeOutQuad;
  font-size: 1.2rem;
  padding: 1.7rem 2rem;
  margin-top: 1.2rem;
  @media @tablet {
    overflow: hidden;
    margin-top: 0;
    padding: 1.5rem 4rem 1.5rem 2rem;
  }
  &:after {
    content: "";
    position: absolute;
    width: 0.8rem;
    height: 0.8rem;
    border-bottom: solid 1px #494747;
    border-right: solid 1px #494747;
    right: 2.1rem;
    top: 2.1rem;
    transform: rotate(45deg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
    transition: transform 220ms @easeOutQuad;
  }
  .h &:hover {
    background-color: #f1f1f1;
  }
  &--filter {
    &:after {
      width: 1.2rem;
      height: 1.2rem;
      transform: none;
      background-image: url('../../img/icon--filter.svg');
      border: none;
    }
  }
}