<?php Block::put('breadcrumb') ?>
    <ul>
        <li><a href="<?= Backend::url('newcode/products/products') ?>">Products</a></li>
        <li><?= e($this->pageTitle) ?></li>
        <li style="font-size: 0; float: right; padding: 3px 0 0 0;">
    	    <form data-request="reorderExtendQuery" style="width: 450px;" data-request-form>
		        <input type="text" name="record-search" class="form-control icon search" placeholder="Find records" style="width: 300px; display: inline-block; vertical-align: top;" />
		        <button type="submit" class="btn btn-default" style="margin-left: 5px;margin-top: 2px;width: 80px; display: inline-block; vertical-align: top;">Search</button>
		    </form>
        </li>
    </ul>
<?php Block::endPut() ?>

<?= $this->reorderRender() ?>