@f: 1.6rem;

@tab: 769px;
@lap: 1279px;
@desk: 1441px;

@tablet: ~"only screen and (min-width: @{tab})";
@laptop: ~"only screen and (min-width: @{lap})";
@desktop: ~"only screen and (min-width: @{desk})";

@main: #b77e67;
@mainActive: #a2664e;

@sec: #8c8279;
@secActive: #f9e6d5;

@red: #a71c1c;

@black: #494747;
@white: #ffffff;

@greyLighter: #f9f9f9;
@greyLight: #e5e5e5;
@grey: #e5e5e5;
@greyDark: #8c8279;
@greyDarker: #494747;

@bg: @white;
// @text: @greyDarker;
@text: @black;