.noUi {
  &-target,
  &-target * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -ms-touch-action: none;
    touch-action: none;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }
  &-target {
    position: relative;
    direction: ltr;
  }
  &-base {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
  }
  &-connect {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
  }
  &-origin {
    position: absolute;
    height: 1px;
    background-color: @main;
    right: 0;
    top: 1.3rem;
    &:nth-child(2) {
      background-color: #e5e5e5;
    }
  }
  &-state {
    &-tap {
      .noUi-connect,
      .noUi-origin {
        -webkit-transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
        transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
      }
    }
    &-drag * {
      cursor: inherit !important;
    }
  }
  &-base,
  &-handle {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  &-handle {
    position: relative;
    z-index: 1; // border-radius: 50%;
    cursor: default;
    width: 2.8rem;
    height: 2.8rem;
    left: -1.4rem;
    top: -1.4rem; // top: 0;
    &:before {
      content: '';
      position: absolute;
      top: 0.9rem;
      left: 0.9rem;
      width: 1.2rem;
      height: 1.2rem;
      border-radius: 50%;
      background-color: @main; // background-color: #e5e5e5;
    }
  }
  &-horizontal {
    height: 2.8rem;
    &:before {
      content: '';
      position: absolute;
      height: 1px; // background-color: @main;
      background-color: #e5e5e5;
      left: 0;
      right: 0;
      top: 1.3rem;
    }
  }
  &-origin {}
  &-draggable {
    cursor: w-resize;
  }
  &-active {}
  &-value {
    position: absolute;
    text-align: center;
    &-sub {
      color: #ccc;
      font-size: 1rem;
    }
    &-horizontal {
      -webkit-transform: translate3d(-50%, 50%, 0);
      transform: translate3d(-50%, 50%, 0);
    }
  }
  &-marker {
    position: absolute;
    background: #CCC;
    &-sub {
      background: #AAA;
    }
    &-large {
      background: #AAA;
    }
    &-horizontal {
      &.noUi {
        &-marker {
          margin-left: -1px;
          width: 2px;
          height: .5rem;
          &-sub {
            height: 1rem;
          }
          &-large {
            height: 1.5rem;
          }
        }
      }
    }
  }
  &-tooltip {
    position: absolute;
    top: 2.6rem;
    left: -0.9rem;
    text-align: center;
    right: -2rem;
    font-family: 'Neusa Next Pro';
    font-size: 1.6rem;
    color: #434343;
    font-weight: 500;
  }
  [disabled] &-connect {
    background: #B8B8B8;
  }
  [disabled]&-target,
  [disabled]&-handle,
  [disabled] &-handle {
    cursor: not-allowed;
  }
}