.app {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  position: relative;
  .font-main;
  &__page {
    position: relative;
    z-index: 1;
    height: inherit;
    width: inherit;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    will-change: transform;
    &.in-transition {
      top: 0;
      right: 0;
      left: 0;
      position: absolute;
    }
  }
  &__header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    transition: transform 350ms @easeOutQuad;
    transition: background-color 350ms @easeOutQuad;
    height: 6rem + 1.8rem + 1.8rem;
    @media @tablet {
      height: 7rem + 2.4rem + 2.4rem;
    }
  }
  &__nav {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    background-color: @white;
    z-index: 3;
  }
  &__navicon {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 4;
    cursor: pointer;
    transition: padding 220ms @easeOutQuad;
    padding: 3.2rem;
    pointer-events: all;
    transition: transform 350ms @easeOutQuad;
    @media @tablet {
      padding-right: 7.8rem;
    }
  }
  &__gate {
    position: absolute;
    top: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    height: 100vh;
    width: 100vw;
    z-index: 5;
    background-color: #fff;
    text-align: center;
    pointer-events: all;
    padding: 3.3vh 0 1vh;
    h1 {
      text-transform: none;
    }
    @media @tablet {
      padding: 3.1vh 0 1vh;
      overflow: hidden;
    }
  }
  &__favorites {
    overflow: hidden;
    padding-bottom: 3.4rem;
    transition: background-color 500ms @easeOutQuad;
  }
  &.header-fixed {
    .app {
      &__header {
        // background-color: red;
        background-color: rgba(255, 255, 255, .64);
      }
    }
  }
  &__cookies {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
    background: #e7d7c9;
    color: #494747;
    padding: 0.8rem 1.6rem 6rem;
    pointer-events: all;
    @media @tablet {
      padding: 0.6rem 20% 0.6rem 4rem;
    }
  }
}
