.cookies {
  &__text {
    line-height: 24/14;
    font-size: 1.2rem;
    @media @tablet {
      font-size: 1.4rem;
    }
    a {
      color: inherit;
      text-decoration: underline;
    }
  }
  &__agree {
    position: absolute;
    right: 2rem;
    bottom: 3.2rem;
    cursor: pointer;
    z-index: 2;
    @media @tablet {
      right: 8.8%;
      bottom: 1.7rem;
    }
  }
}