.footer {
	padding: 3.5rem 2rem;
	font-size: 1.3rem;
	text-transform: uppercase;
	position: relative;
	text-transform: uppercase;
	border-top: solid 1px #e5e5e5;
	@media @tablet {
		padding: 2.9rem 4rem;
		font-size: 1.3rem;
	}
	&__copyright {
		max-width: 20rem;
		@media @tablet {
			max-width: 100%;
		}
	}
	&__created {
		padding: 1.4rem 0;
		color: #bbb;
		@media @tablet {
			padding: 0;
			position: absolute;
			top: 2.9rem;
			right: 4rem;
		}
		a {
			text-decoration: none;
			color: inherit;
		}
	}
}
