.gate {
  &__container {
    // max-width: 69rem;
    max-width: 100rem;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: stretch;
    align-items: center;
  }
  &__additional-text{
    font-size: 2rem;
    margin-bottom: 5rem;
    font-weight: 600;
    a{
      text-decoration: none;
      color: #b77e67;
    }
    @media @tablet {
      font-size: 3rem;
    }
  }
  &__additional-subtext{
    font-size: 1.6rem;
    margin: 2rem 0;
    &:last-child{
      margin: 0;
    }
    a{
      text-decoration: none;
      color: #b77e67;
    }
  }
  &__logo {
    display: inline-block;
    width: 14.6rem;
    height: 6.7rem;
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../../img/logo.svg");
    float: left;
    background-position: 0% 0%;
    @media @tablet {
      background-position: 50% 50%;
      float: none;
      width: 17.4rem;
      height: 7.8rem;
    }
  }
  &__content {
    padding: 12.5vh 0rem 1vh;
    @media @tablet {
      padding: 15.3vh 1rem 1vh;
    }
  }
  &__actions {
    max-width: 38rem;
    margin: 7.3vh auto;
    @media @tablet {
      margin: 7.7vh auto;
    }
  }
  &__action {
    text-transform: uppercase;
    margin: 0 0.3%;
    width: 47.7%;
    @media @tablet {
      margin: 0 1.5%;
      width: 45%;
    }
  }
  &__footer {
    padding-top: 5.3vh;
    font-size: 1.2rem;
    @media @tablet {
      padding-top: 11.8vh;
    }
  }
}
