.header {
  &__logo {
    position: absolute;
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0% 0%;
    background-image: url("../../img/logo.svg");
    top: 1.8rem;
    left: 2rem;
    width: 13.6rem;
    height: 6rem;
    @media @tablet {
      top: 2.4rem;
      left: 4rem;
      width: 15.7rem;
      height: 7rem;
    }
  }
  &__langs {
    display: none;
    position: absolute;
    top: 3.5rem;
    right: 14.9rem;
    font-size: 1.3rem;
    font-weight: 600;
    color: #3d3c3c;
    letter-spacing: 0.1em;
    @media @tablet {
      display: block;
    }
  }
  &__top-search {
    display: none;
    position: absolute;
    top: 3rem;
    right: 24.3rem;
    font-size: 1.3rem;
    font-weight: 600;
    color: #3d3c3c;
    letter-spacing: 0.1em;
    width: 22rem;
    @media @tablet {
      right: 28.3rem;
      display: block;
      top: 2.7rem;
    }
  }
  &__search-trigger {
    position: absolute;
    width: 3.3rem;
    height: 3.7rem;
    padding: 0.9rem 0.7rem;
    z-index: 3;
    top: 3.4rem;
    right: 5.6rem;
    @media @tablet {
      display: none;
    }
  }
  &__search-svg {
    display: block;
    width: 100%;
    height: 100%;
  }
}
