.nav {
  transition: opacity 220ms @easeOutQuad;
  &__content {
    overflow: hidden;
    position: absolute;
    top: 6.5rem;
    left: 0;
    width: 100vw;
    bottom: 0;
    z-index: 1;
    background-color: @white;
    text-align: left;
    border-top: solid 1px #e5e5e5;
    @media @tablet {
      overflow-x: hidden;
      overflow-y: auto;
      top: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      align-content: center;
      justify-content: center;
      padding: 2vh 2rem 3.9vh;
      border-top: none;
    }
    &--subnav {
      z-index: 2;
      transition: transform 220ms @easeOutQuad;
    }
  }
  &__scroll {
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    will-change: transform;
    position: absolute;
    pointer-events: all;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-bottom: 2.4rem;
    z-index: 1;
  }
  &__menu {
    position: relative;
    pointer-events: all;
  }
  &__menu-item {
    position: relative;
    display: block;
    border-bottom: solid 1px #e5e5e5;
    position: relative;
    pointer-events: all;
    @media @tablet {
      border: none;
      display: inline-block;
      &:before {
        content: "";
        position: absolute;
        left: 2.8rem;
        right: 2.8rem;
        bottom: 2.1rem;
        height: 1px;
        background-color: #494747;
        transform-origin: 100% 50%;
        transform: scale(0, 1);
        transition: transform 220ms @easeOutQuad, opacity 220ms @easeOutQuad;
      }
    }
    &.is-active {
      &:before {
        transform: scale(1, 1);
      }
    }
    .h &:hover {
      &:before {
        opacity: 0.6;
        transform-origin: 0% 50%;
        transform: scale(1, 1);
      }
      &.is-active {
        &:before {
          opacity: 1;
        }
      }
    }
  }
  &__menu-trigger {
    color: #3d3c3c;
    text-decoration: none;
    text-transform: uppercase;
    font-size: @f;
    cursor: pointer;
    letter-spacing: 0.09em;
    padding: 2rem 1.9rem 1.9rem;
    display: block;
    @media @tablet {
      display: inline-block;
      padding: 2.8rem;
    }
  }
  &__menu-arrow {
    display: block;
    position: absolute;
    border-right: solid 1px #202020;
    border-bottom: solid 1px #202020;
    width: 0.9rem;
    height: 0.9rem;
    right: 2.2rem;
    top: 2.4rem;
    transform: rotate(-45deg);
  }
  &__beverages {
    font-size: 0;
    max-width: 118rem;
    width: 100%;
    margin: 0 auto;
    margin-top: 3.3vh;
    margin-bottom: 0.8vh;
    pointer-events: all;
    .h &:hover {
      .nav {
        &__beverages-item {
          &:after {
            will-change: transform;
          }
        }
        &__beverages-trigger {
          will-change: letter-spacing;
        }
      }
    }
  }
  &__beverages-list {}
  &__beverages-item {
    text-align: center;
    margin: 3vh 2rem;
    display: inline-block;
    width: ~"calc(20% - 4rem)";
    position: relative;
    vertical-align: top;
    background-repeat: no-repeat;
    background-position: 50% 75%;
    background-size: auto 85%;
    height: 17.3vh;
    padding: 2.2vh 2rem;
    &:after,
    &:before {
      content: "";
      position: absolute;
      background-color: inherit;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0.8;
    }
    &:before {
      z-index: 2;
    }
    &:after {
      transition: transform 350ms @easeOutQuad;
      z-index: -1;
      opacity: 1;
    }
    .h &:hover {
      &:after {
        transform: scale(1.06, 1);
        transform: scale(1.06);
      }
      .nav {
        &__beverages-trigger {
          letter-spacing: 0.2em;
        }
      }
    }
  }
  &__beverages-trigger {
    transition: letter-spacing 350ms @easeOutQuad;
    height: 100%;
    padding: 2vh 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    font-size: @f;
    color: #3d3c3c;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: 0.09em;
    position: relative;
    z-index: 3;
  }
  &__back {
    padding: 2.1rem 2rem 2rem;
    display: block;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    border-bottom: solid 1px #e5e5e5;
    position: relative;
    pointer-events: all;
    &:before {
      content: '';
      background-color: #494747;
      height: 1px;
      display: block;
      width: 3rem;
      position: absolute;
      top: 3.1rem;
      left: 5.5rem;
    }
    &:after {
      content: '';
      width: 0.7rem;
      height: 0.7rem;
      display: block;
      position: absolute;
      left: 5.6rem;
      top: 2.8rem;
      border-bottom: solid 1px #494747;
      border-left: solid 1px #494747;
      transform: rotate(45deg);
    }
  }
  &__subnav {
    position: absolute;
    top: 6rem;
    left: 0;
    right: 0;
    bottom: 0;
  }
  &__langs {
    text-align: center;
    padding: 2.9rem;
    @media @tablet {
      display: none;
    }
  }
  &__lang {
    display: inline-block;
    padding: 1.1rem 0;
    text-decoration: none;
    width: 4.2rem;
    height: 4.2rem;
    margin: 0.1rem;
    border: solid 1px #e5e5e5;
    color: #3d3c3c;
    font-weight: 600;
    pointer-events: all;
    &.is-active {
      background-color: #f5f5f5;
    }
  }
}