.navicon {
  &__text {
    font-weight: 600;
    font-size: 1.3rem;
    letter-spacing: 0.05em;
    display: none;
    @media @tablet {
      display: block;
    }
  }
  &__icon {
    position: absolute;
    transition: padding 220ms @easeOutQuad;
    background-color: #010101;
    height: 1px;
    width: 1.6rem;
    display: block;
    position: absolute;
    transform-origin: 50% 50%;
    transition: background-color 220ms @easeOutQuad, transform 220ms @easeOutQuad;
    top: 5.1rem;
    right: 2.8rem;
    @media @tablet {
      top: 4.5rem;
      right: 4.8rem;
    }
    &:before,
    &:after {
      background-color: #010101;
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      position: absolute;
      top: 0;
      left: 0;
      transform-origin: 50% 50%;
      transition: transform 220ms @easeOutQuad, width 220ms @easeOutQuad;
    }
    &:before {
      width: 2rem;
      transform: translate3d(0rem, -6px, 0);
    }
    &:after {
      width: 1.6rem;
      transform: translate3d(0.8rem, 6px, 0);
    }
    &.nav-open {
      background-color: transparent;
      transform: translate3d(0.5rem, -1.8rem, 0);
      @media @tablet {
        transform: none;
      }
      &:before {
        transform: rotate(45deg);
      }
      &:after {
        width: 2rem;
        transform: rotate(-45deg);
      }
    }
  }
  .h &:hover {
    .navicon {
      &__icon {
        transform: translate3d(0.4rem, 0, 0);
        &:before {
          transform: translate3d(-0.4rem, -6px, 0);
        }
        &:after {
          transform: translate3d(-0.3rem, 6px, 0);
        }
        &.nav-open {
          transform: translate3d(0, 0, 0);
          &:before {
            transform: rotate(135deg);
          }
          &:after {
            transform: rotate(45deg);
          }
        }
      }
    }
  }
}